@use './partials/variables' as *;

@import 'node_modules/bootstrap/scss/bootstrap';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// title


.title {
    background-color: $bg-gray;
    color: $green-text;
    font-size: 2rem;
    margin-bottom: 130px;
}

// interline div

.full-line {
    width: 90px;
    height: 8px;
    .short {
        width: 15px;
        background: $green-gradient;
        height: 100%;
        border-radius: 10px;
    }
    .long {
        width: 65px;
        background: $green-gradient;
        height: 100%;
        border-radius: 10px;
    }
}

// colors

.color-black {
    color: black;
}